name: Keepalive Workflow

on:
  schedule:
    - cron: "0 0 1 * *" # 每天 00:00 UTC (北京时间 08:00) 触发

  workflow_dispatch: # 手动触发
    inputs:
      tags:
        description: 'Just for a test!'
        required: true
        default: 'test'
        type: string

jobs:
  keepalive:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 允许推送代码
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update keepalive timestamp
        run: |
          date > .keepalive   # 把当前时间写到一个文件里
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .keepalive
          git commit -m "chore: keepalive commit $(date -u +"%Y-%m-%dT%H:%M:%SZ")" || echo "No changes to commit"
          git push
          
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: verify
        run: |
          LATEST_TIME=$(git log -1 --format=%cI)
          echo $LATEST_TIME
      - name: send2telegram
        uses: metalpoch/telegram-alerts-action@v1
        with:
          bot-token-id: ${{ secrets.TG_BOT_TOKEN }}
          chat-id: ${{ secrets.TG_USER_ID }}
          text: |
            <b>${{ github.ref_name }} - ${{ github.sha }}</b>
            提交时间：${{ github.event.head_commit.timestamp }}
          parse-mode: HTML
          disable-notification: true
          disable-web-page-preview: true
          
# token: ${{ secrets.TG_BOT_TOKEN }}
# chatid: ${{ secrets.TG_USER_ID }}
